<!DOCTYPE html>
<html>
	<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<title>Sports Leagues</title>
	</head>
	<body class="bg-dark">
    <div class="text-success">
      <h1>Teams in atlantic city conference</h1>
		<ol>
			{% for elements in atlanticcityconf %}
				<li>{{elements.location}}'s {{elements.team_name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-warning">
      <h1>Boston's Penguins Team players</h1>
		<ol>
			{% for elements in bospenplayers %}
				<li>{{elements.first_name}} {{elements.last_name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-danger">
      <h1>International Collegiate Baseball Conference Players</h1>
		<ol>
			{% for elements in intcolbasecon %}
				<li>{{elements.first_name}} {{elements.last_name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-info">
      <h1>American Conference of Amateur Football named Lopez players</h1>
		<ol>
			{% for elements in lopezfootballplayer %}
				<li>{{elements.first_name}} {{elements.last_name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-light">
      <h1>Football leagues players</h1>
		<ol>
			{% for elements in footballplayers %}
				<li>{{elements.first_name}} {{elements.last_name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-primary">
      <h1>All teams with players named Sophia</h1>
		<ol>
			{% for elements in sophiaplayer %}
				<li>{{elements.location}}'s {{elements.team_name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-success">
      <h1>All leagues with players named Sophia</h1>
		<ol>
			{% for elements in sophialeagueplayer %}
				<li>{{elements.name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-warning">
      <h1>All players with Flores as last name excludion those playing in the Washington Roughriders</h1>
		<ol>
			{% for elements in floresnot %}
				<li>{{elements.first_name}}'s {{elements.last_name}} player of {{elements.curr_team.location}} {{elements.curr_team.team_name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-danger">
      <h1>Teams in which player Samuel Evans plays or has played</h1>
		<ol>
			{% for elements in samuelevansteams %}
				<li>{{elements.location}} {{elements.team_name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-info">
      <h1>Actual or former players for Manitoba Tiger-Cats</h1>
		<ol>
			{% for elements in tigercats %}
				<li>{{elements.first_name}}'s {{elements.last_name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-light">
      <h1>Former players from Wichita Vikings</h1>
		<ol>
			{% for elements in formerwichitavikings %}
				<li>{{elements.first_name}}'s {{elements.last_name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-primary">
      <h1>Teams ordered alphabetically reversed by name</h1>
		<ol>
			{% for elements in orderbyname %}
				<li>{{elements.location}}'s {{elements.team_name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-success">
      <h1>Players with Cooper as last name</h1>
		<ol>
			{% for elements in playercooper %}
				<li>{{elements.first_name}} {{elements.last_name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-warning">
      <h1>Players named Joshua</h1>
		<ol>
			{% for elements in playerjoshua %}
				<li>{{elements.first_name}} {{elements.last_name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-danger">
      <h1>Players with Cooper as last name, except those named Joshua</h1>
		<ol>
			{% for elements in cooperbutnotjoshua %}
				<li>{{elements.first_name}} {{elements.last_name}}</li>
			{% endfor %}
		</ol>
    </div>
    <div class="text-info">
      <h1>Players named Alexander or Wyatt</h1>
		<ol>
			{% for elements in alexanderorwyatt %}
				<li>{{elements.first_name}} {{elements.last_name}}</li>
			{% endfor %}
		</ol>
    </div>
		<h1>Leagues</h1>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams</h1>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Players</h1>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
	</body>
</html>